.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 2px;
  .header-top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    &--photo {
      img {
        width: 300px;
        @media (min-width: $MOBILE-L_START - 1px) and (max-width: $TABLET_START - 1px) {
          width: 250px;
        }
        @media (min-width: $MOBILE-S_START ) and (max-width: $MOBILE-L_START) {
          width: 150px;
        }
      }
    }
    &--name {
      margin-bottom: 35px;
      h1 {
        @media (min-width: $MOBILE-S_START ) and (max-width: $MOBILE-L_START + 20px) {
          font-size: 21px;
        }
      }
      h3 {
        margin-top: 15px;
        color: #212121;
        @media (min-width: $MOBILE-S_START ) and (max-width: $MOBILE-L_START + 20px) {
          font-size: 15px;
        }
      }
      @media (min-width: $MOBILE-S_START ) and (max-width: $MOBILE-L_START + 20px) {
        margin-bottom: 8px;
      }
    }
  }
  &--bottom {
    p {
      text-align: left;
      margin-top: 15px;
    }
  }
  &--btn {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  li {
    width: 130px;
    margin: 0 10px;
    border: 4px #212121 outset;
    border-radius: 2px;
    list-style: none;
    @media (min-width: $MOBILE-L_START - 1px) and (max-width: $TABLET_START) {
      margin: 0 5px;
      width: 100px;
    }

    @media (min-width: $MOBILE-S_START ) and (max-width: $MOBILE-L_START) {
      margin: 0 2px;
      width: 80px;
    }
    a {
      display: block;
      padding: 7px 10px;
      text-decoration: none;
      color: #000;
      @media (min-width: $MOBILE-S_START ) and (max-width: $MOBILE-L_START) {
        padding: 5px 2px;
      }
      &:hover {
        transition: 1s all;
        background-color: #171717;
        color: white;
      }
    }
   }
  }
}
