$slick-arrow-color: black !default;
$slick-prev-character: "\2039" !default;
$slick-next-character: "\203a" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
$DESKTOP_START: 1024px;
$TABLET_START: 768px;
$MOBILE-L_START: 425px;
$MOBILE-S_START: 320px;
